body {
  background-color: #000000;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Main_Header {
  font-weight: normal;
  font-size: 50px;
  color: #ffffff;
}

.Header_Secondary {
  font-weight: 300;
  font-size: 42px;
  color: #ffffff
}

.Header_Sub_Header {
  font-size: 21px;
  color: grey;
}

.Link_Cta {
  font-size: 16px;
  color: aquamarine;
}

.Footer {
  font-size: 21px;
  color: grey;
  text-align: right;
}